$open:'Open Sans', sans-serif;
$barheight:3px;
$purple:#3C539A;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
    height:100%;
    width: 100%;
}

.fondo_negro_contacto {
  background-color: #000000;
  background-image: none;
  padding:0;
  margin:0;
  overflow:auto;
  font-family:$open;
  -webkit-font-smoothing: antialiased;
  background-repeat:no-repeat;
  background-size:cover;
}

.nav-btn {
  .nav-btn{
  margin: 20px 20px 0;
  float: right;
  width: 100%;
  position: relative;
  text-align: right;
  /* Small */
  @media(max-width:991px){
    display: none;
  }
}
  .nav-btn-mobile {
    display: none;
    /* Small */
    @media(max-width:991px){
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      position: relative;
      text-align: right;
      margin: 15px 0;
    }
  }
}

.burger {
  position:absolute;
  right:35px;
  top:25px;
  padding:5px;
  border:0;
  outline:0;
  background-color:transparent;
  height:40px;
  width:40px;
  z-index:9999;
  .bar {
    height:$barheight;
    width:150%;
    background-color:white;
    display:inline-block;
    border-radius:2px;
    transition:all 0.3s;
  }
}

.focus {
    .bar {
    transition:all 0.3s;
    background-color:#FFF;
    &:first-of-type {
      transition-delay:0.4s;
      transform: translate3d(0px, 0px, 0px) rotateZ(45deg);
      width:40px;
      transform-origin:left top;
    }
    &:nth-of-type(2) {
      opacity:0;
      transform:translate3d(-20px,0px,0px);
    }
    &:last-of-type {
      transition-delay:0.4s;
      transform: translate3d(0px, 0px, 0px) rotateZ(-45deg);
      width:40px;
      transform-origin:left bottom;
    }
  }
}

.flex {
  min-height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.content {
  position:absolute;
  width:100%;
  opacity:0;
  transition:all 0.3s;
}

.navigation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  list-style-type:none;
  padding-left:0px;
  text-align:center;
  margin:0;
  a {
    color:#FFF;
    text-decoration:none;
    &:hover {
      color:darken(#FFF,10%);
    }
  }
  li {
    font-size:24px;
    font-family:$open;
    font-weight:bold;
    transition:all 0.3s;
    transform:translate3d(-100%, 0px, 0px);
    display:block;
    height:20vh;
    line-height:20vh;
    position:relative;
  }
}

.show {
  left:0;
  opacity:1;
  .navigation {
    li {
      transition:all 0.3s;
      transform:translate3d(0px, 0px, 0px);
      &:nth-child(1) {
        background-color:$purple;
        transition-delay:0.1s;
      }
      &:nth-child(2) {
        background-color:darken($purple,3%);
        transition-delay:0.3s;
      }
      &:nth-child(3) {
        background-color:darken($purple,6%);
        transition-delay:0.5s;
      }
      &:nth-child(4) {
        background-color:darken($purple,9%);
        transition-delay:0.7s;
      }
      &:nth-child(5) {
        background-color:darken($purple,12%);
        transition-delay:0.9s;
      }
    }
  }
}

.contenidoabout{
  display: flex;
  flex-direction: row;
  padding-top: 10%;
  padding-top: 10%;


  /* Small */
  @media(max-width:767px){
display: block;
  }
}

.leftsideesther {
  float: left;
  margin-left: 80px;
  padding-right: 10%;
  /* Medium */
@media(min-width:768px) and (max-width:991px){
  width: 50%;
  padding-bottom: 0;
  }
  /* Small */
  @media(max-width:767px){
  width: 100%;
  }
}

.rightsideesther {
  width: 100%;
  float: left;
  margin-right: 10%;

  /* Small */
  @media(max-width:767px){
  width: 100%;
  float: none;
  }

}



.logo{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    width: 45px;
    z-index: 1;
}

.profilemini{
  /* Medium */
    @media(min-width:768px) and (max-width:991px){
      width: 80%;
      }
    /* Small */
    @media(max-width:767px){
      width: 80%;
      }
    }

.human
{
    width: 100%;
    bottom: 0;
    height: 65px;
    color: #fff;
}

.footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    position: relative;
    height: 65px;
/* Small */
    @media(max-width:767px){
      width: 100%;
      }

}

.curriculo {
  display: flex;
  flex-direction: row;
}

.skills {
  display: flex;
  flex-direction: row


}

.skills {
  display: flex;
  flex-direction: column;


}

.nombres_skills {


}

.puntitos_skills {
  display: flex;
  flex-wrap: wrap;

}

.contenidoabout2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 150px;
  padding-top: 5%;
  margin-right: 120px;
  align-items: baseline;

  /* Small */
  @media(max-width:767px){
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;

  }
}


.circulo {
     width: 15px;
     height: 15px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #fff;
}

.circulovacio {
     width: 15px;
     height: 15px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
      border: 1px solid #fff;
}

.contenidoskills {
  display: flex;
  flex-direction: row;
}

.likeswhite {
  font-family: "Raleway Light", sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
  margin-bottom: 5px;
  padding: 5px 0;
  color: #FFFFFF;

}

.likespurple {
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  margin: 0;
  color: plum;
}
