// Highlight color
$color: #000; //#3730d8;

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

*, :after, :before {
    box-sizing: inherit;
}

.gridproyectos {
  display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
	padding-top: 140px;
	padding-left: 140px;
	padding-right: 140px;

	/* Small */
  @media(max-width:767px){
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
		padding-left: 0px;
		padding-right: 12px;

  }
}

.item {
  position: relative;
  overflow: hidden;
  padding: 10px;
  transition: all 100ms cubic-bezier(.77,0,.175,1);
  flex: 0 0 33.33%;

  &:hover {
    cursor: pointer;

    figure {

      span {
        opacity: 1;
      }

      &:before {
        opacity: .44;
      }
    }

    img {
      opacity: .95;
    }
  }
}


figure {
  background: $color;
  padding: 0;
  margin: 0;
  position: relative;


  &:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: black;
    z-index: 5;
    opacity: 0;
    transition: opacity 100ms ease;
  }
}

img {
  width: 100%;
  height: auto;
  overflow: hidden;
  vertical-align:bottom;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  z-index: 10;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 10px 0;
}


.buttongrid {
	background: #fff;
	color: #000;
	display: inline-block;
	padding: 10px 40px;
	border-radius: 36px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .7rem;
	letter-spacing: .8px;
	text-decoration: none;
  margin: 30px 0 0;
  transition: opacity 100ms ease;

  &:hover {
    opacity: .66;
  }
}
